# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(int(hours))

3

## Author
Jesse